.main-title {
  background: #1f1f22;
  min-height: 200px;
  font-family: 'Noto Sans KR', sans-serif;

  h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 47px;
    margin: 0 auto;

    .gr {
      color: #9bf00b;
    }

    .sm {
      font-size: 19px;
    }    
  }
}

.int {
  width: 100%;
}
.intro {
  background: #1f1f22;
}

@media (min-width: 993px) {
  .intro {
  .main-title {
    position: absolute;
    background: none;
    width: 300px;
    top: 110px;
    left: 170px;
  }
  h1 {
    width: 300px;
  }
}
}