.main-title {
  background: #1f1f22;
  min-height: 200px;
  font-family: "Noto Sans KR", sans-serif;

  h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 47px;
    margin: 0 auto;

    .gr {
      color: #9bf00b;
    }

    .sm {
      font-size: 19px;
    }
  }
}

.int {
  width: 100%;
}
.intro {
  background: #1f1f22;
}

@media (min-width: 993px) {
  .intro {
    .main-title {
      position: absolute;
      background: none;
      width: 300px;
      top: 160px;
      left: 140px;
    }
    h1 {
      width: 300px;
      font-size: 62px;
    }
  }
}
@media (min-width: 1500px) {
  .intro {
    .main-title {
      width: 400px;
      top: 200px;
      left: 290px;
    }
    h1 {
      width: 400px;
      font-size: 73px;
    }
  }
}
