@import "nav";
@import "subNav";
@import "intro";
@import "one";
@import "two";
@import "three";
@import "four";
@import "five";
@import "six";
@import "seven";
@import "eight";
@import "nine";
@import "ten";
@import "eleven";
@import "twelve";
@import "thirteen";
@import "fourteen";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  min-height: 100vh;
  perspective: 1000px;
  font-family: "Noto Sans KR", sans-serif;
}

//for div 9 and up
.whiteBackground {
  background-color: #fff;
  .whitePadding {
    height: 6rem;
  }
}
//for div 12
.drkGrey {
  background-color: #1f1f22;
  .drkGreyPadding {
    height: 12rem;
  }
}
@media (min-width: 1372px) {
  .drkGrey {
    .drkGreyPadding {
      height: 15rem;
    }
  }
}

//footer
.page-footer {
  background-color: #fff;
  color: #000;
  padding: 20px 0;
  .footerTxt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .socials {
      padding: 0 4px;
      font-size: 16px;
      color: #000;
    }
  }
}
